---
apiVersion: v1
kind: Template
metadata:
  name: widget-layout-backend
objects:
  - apiVersion: cloud.redhat.com/v1alpha1
    kind: ClowdApp
    metadata: 
      name: widget-layout-backend
    spec:
      envName: ${ENV_NAME}
      database:
        name: widget-layout-backend
      deployments:
        - name: api
          minReplicas: ${{MIN_REPLICAS}}
          webServices:
            public:
              apiPath: widget-layout
              enabled: true
              whitelistPaths:
                - /api/widget-layout/v1/openapi.json
                - /api/widget-layout/v1/openapi.yaml
          podSpec:
            image: ${IMAGE}:${IMAGE_TAG}
            initContainers:
              - name: run-db-migration
                command:
                  - bash
                  - -c
                  - widget-layout-backend-migrate
            livenessProbe:
              failureThreshold: 3
              httpGet:
                path: /healthz
                port: 8000
                scheme: HTTP
              initialDelaySeconds: 30
              periodSeconds: 5
              successThreshold: 1
              timeoutSeconds: 120          
            readinessProbe:
              failureThreshold: 3
              httpGet:
                path: /healthz
                port: 8000
                scheme: HTTP
              initialDelaySeconds: 30
              periodSeconds: 5
              successThreshold: 1
              timeoutSeconds: 120
            env:
            - name: CLOWDER_ENABLED
              value: ${CLOWDER_ENABLED}
            - name: LOG_LEVEL 
              value: ${LOG_LEVEL}
            # FEO generated base layout config
            - name: BASE_LAYOUTS
              valueFrom:
                configMapKeyRef:
                  name: ${FEO_BASE_LAYOUTS_CONFIGMAP}
                  key: base-widget-dashboard-templates.json
            # FEO generated widget mapping config
            - name: WIDGET_MAPPING
              valueFrom:
                configMapKeyRef:
                  name: ${FEO_WIDGET_MAPPING_CONFIGMAP}
                  key: widget-registry.json
            resources:
              limits:
                cpu: ${CPU_LIMIT_WIDGET_LAYOUT}
                memory: ${MEMORY_LIMIT_WIDGET_LAYOUT}
              requests:
                cpu: ${CPU_REQUEST_WIDGET_LAYOUT}
                memory: ${MEMORY_REQUEST_WIDGET_LAYOUT}

parameters:
- description: Determines Clowder deployment
  name: CLOWDER_ENABLED
  value: "true"
- description: ClowdEnv Name
  name: ENV_NAME
  value: "widget-layout-backend"
  required: true
- description: The log level for the application
  name: LOG_LEVEL
  value: warn
- description: Cpu limit of service
  name: CPU_LIMIT_WIDGET_LAYOUT
  value: 500m
- description: memory limit of service
  name: MEMORY_LIMIT_WIDGET_LAYOUT
  value: 512Mi
- description: Cpu requests of service
  name: CPU_REQUEST_WIDGET_LAYOUT
  value: 250m
- description: Memory requests of service
  name: MEMORY_REQUEST_WIDGET_LAYOUT
  value: 256Mi
- name: MIN_REPLICAS
  value: '3'
- description: Chrome config map name
  name: FRONTEND_CONTEXT_NAME
  value: base-widget-dashboard-templates-cfg
- description: Widget mapping config map name
  name: WIDGET_MAPPING_CONFIGMAP
  value: widget-registry-cfg
- description: Image tag
  name: IMAGE_TAG
  required: true
- description: Image name
  name: IMAGE
  value: quay.io/redhat-services-prod/hcc-platex-services-tenant/widget-layout-backend/widget-layout-backend
- description: FEO generated base layout chrome configmap
  name: FEO_BASE_LAYOUTS_CONFIGMAP
  value: base-widget-dashboard-templates-cfg
- description: FEO generated widget mapping chrome configmap
  name: FEO_WIDGET_MAPPING_CONFIGMAP
  value: widget-registry-cfg
